<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Iris Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
  <body>
    <style>
body {
    text-align: center;
}
form {
    display: inline-block;
}
</style>
    <header>
      <div class="container">
        <h1 class="logo">Iris Flask App</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('iris') }}">Iris Classification</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

{% block content %}
{% endblock %}</body>
</html>
