<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST"> 
          <!-- url_for('') takes a function name and returns the URL to the endpoint / route for the method -->
         
         <h3>Student Information</h3>
         Name<br>
          <input type = "text" name = "nm" /><br>
         
         Address<br>
         <textarea name = "add" ></textarea><br>
         
         City<br>
         <input type = "text" name = "city" /><br>
         
         PINCODE<br>
         <input type = "text" name = "pin" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>

    <a href="{{ url_for('list_all') }}">List all entries</a>
   </body>
</html>